In [ ]:
# some zip-code has "-" xxxxx-xxx --> drop "-" --> keep first 5 digits - DONE 

# Do we need to add ids? - To be done in SQL as part of Load

# Drop duplicates in restaurant - DONE

# drop the irrelevant columns (only 4 columns left) - Ruohong to do

# Get the zip, city, state into a seperate table - DONE

# Export all files to CSV - ZIP Code one done; Riohong to do Restaurant one

In [1]:
# Dependencies
import pandas as pd

In [2]:
csv_file_one = "../00_input/datafiniti-fast-food-restaurants-across-america/Datafiniti_Fast_Food_Restaurants.csv"
restaurant_df = pd.read_csv(csv_file_one)
restaurant_df.head()

,id,dateAdded,dateUpdated,address,categories,city,country,keys,latitude,longitude,name,postalCode,province,sourceURLs,websites
0,AVwcmSyZIN2L1WUfmxyw,2015-10-19T23:47:58Z,2018-06-26T03:00:14Z,800 N Canal Blvd,American Restaurant and Fast Food Restaurant,Thibodaux,US,us/la/thibodaux/800ncanalblvd/1780593795,29.814697,-90.814742,SONIC Drive In,70301,LA,https://foursquare.com/v/sonic-drive-in/4b7361...,https://locations.sonicdrivein.com/la/thibodau...
1,AVwcmSyZIN2L1WUfmxyw,2015-10-19T23:47:58Z,2018-06-26T03:00:14Z,800 N Canal Blvd,Fast Food Restaurants,Thibodaux,US,us/la/thibodaux/800ncanalblvd/1780593795,29.814697,-90.814742,SONIC Drive In,70301,LA,https://foursquare.com/v/sonic-drive-in/4b7361...,https://locations.sonicdrivein.com/la/thibodau...
2,AVwcopQoByjofQCxgfVa,2016-03-29T05:06:36Z,2018-06-26T02:59:52Z,206 Wears Valley Rd,Fast Food Restaurant,Pigeon Forge,US,us/tn/pigeonforge/206wearsvalleyrd/-864103396,35.803788,-83.580553,Taco Bell,37863,TN,https://www.yellowpages.com/pigeon-forge-tn/mi...,"http://www.tacobell.com,https://locations.taco..."
3,AVweXN5RByjofQCxxilK,2017-01-03T07:46:11Z,2018-06-26T02:59:51Z,3652 Parkway,Fast Food,Pigeon Forge,US,us/tn/pigeonforge/3652parkway/93075755,35.782339,-83.551408,Arby's,37863,TN,http://www.yellowbook.com/profile/arbys_163389...,"http://www.arbys.com,https://locations.arbys.c..."
4,AWQ6MUvo3-Khe5l_j3SG,2018-06-26T02:59:43Z,2018-06-26T02:59:43Z,2118 Mt Zion Parkway,Fast Food Restaurant,Morrow,US,us/ga/morrow/2118mtzionparkway/1305117222,33.562738,-84.321143,Steak 'n Shake,30260,GA,https://foursquare.com/v/steak-n-shake/4bcf77a...,http://www.steaknshake.com/locations/23851-ste...

In [3]:
# Checking Restaurant DF
restaurant_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10000 non-null  object
 1   dateAdded    10000 non-null  object
 2   dateUpdated  10000 non-null  object
 3   address      10000 non-null  object
 4   categories   10000 non-null  object
 5   city         10000 non-null  object
 6   country      10000 non-null  object
 7   keys         10000 non-null  object
 8   latitude     10000 non-null  float64
 9   longitude    10000 non-null  float64
 10  name         10000 non-null  object
 11  postalCode   10000 non-null  object
 12  province     10000 non-null  object
 13  sourceURLs   10000 non-null  object
 14  websites     10000 non-null  object
dtypes: float64(2), object(13)
memory usage: 1.1+ MB

In [4]:
# Drop duplicates in restaurant
restaurant_df.drop_duplicates(subset ="keys", keep = 'first', inplace = True)

In [5]:
restaurant_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9343 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           9343 non-null   object
 1   dateAdded    9343 non-null   object
 2   dateUpdated  9343 non-null   object
 3   address      9343 non-null   object
 4   categories   9343 non-null   object
 5   city         9343 non-null   object
 6   country      9343 non-null   object
 7   keys         9343 non-null   object
 8   latitude     9343 non-null   float64
 9   longitude    9343 non-null   float64
 10  name         9343 non-null   object
 11  postalCode   9343 non-null   object
 12  province     9343 non-null   object
 13  sourceURLs   9343 non-null   object
 14  websites     9343 non-null   object
dtypes: float64(2), object(13)
memory usage: 1.1+ MB

In [6]:
# Cleanse ZIP Code to retain only 5 characters
restaurant_df["postalCode"] = restaurant_df["postalCode"].apply(lambda x: x.split("-")[0])

In [21]:
# Verify ZIP Codes all cleansed to 5 characters only
restaurant_df['zip_check'] = restaurant_df['postalCode'].apply(len)
print(restaurant_df['zip_check'].max(), restaurant_df['zip_check'].min())

6 5

In [22]:
# Identify row where ZIP Code is 6 characters long
restaurant_df.loc[restaurant_df['zip_check'] == 6]

,id,dateAdded,dateUpdated,address,categories,city,country,keys,latitude,longitude,name,postalCode,province,sourceURLs,websites,zip_check
5675,AWOnnZGLRxPSIh2Ru31g,2018-05-28T16:28:34Z,2018-05-28T16:28:34Z,3340 Mall Loop Dr Louis Joliet Mall Louis Joli...,Fast Food Restaurant,Joliet,US,us/il/joliet/3340mallloopdrlouisjolietmallloui...,41.575031,-88.156167,KFC,60431,IL,https://foursquare.com/v/kfc/4bc8a87692b376b09...,http://www.kfc.com,6

There appears to be a hidden character resulting in the count equally to 6. It would appear that by splitting the "-", a space has been left after 1. This will be cleansed and tidied up as part of the load process into Postgres SQL if not remove during the de-duplication process.

In [ ]:
# Extract ZIP Code, City and State to a separate table
zip_code_df = restaurant_df[['postalCode','city','province']]
zip_code_df.head()

In [ ]:
# Rename ZIP Code table column headings so they are more user friendly
zip_code_df = zip_code_df.rename(columns={"postalCode":"zip_code", "province":"state"})

In [ ]:
# Check renamed columns
zip_code_df.info()

Identify if there are any duplicate ZIP Codes

In [ ]:
zip_code_df["zip_code"].nunique()

In [ ]:
# Drop duplicate ZIP Codes from the ZIP Code dataframe
zip_code_df.drop_duplicates(subset ='zip_code', keep = 'first', inplace=True)

In [ ]:
zip_code_df.head()

In [ ]:
# Export ZIP Code dataframe into CSV file 
zip_code_df.to_csv('zip_code.csv', index=False)

In [ ]:
# Drop unnecessary columsn from resturant dataframe

In [ ]:
# Export restaurant data to CSV