In [1]:
# Dependencies
import pandas as pd

In [2]:
# Import the csv file as pandas dataframe
csv_file_one = "../00_input/datafiniti-fast-food-restaurants-across-america/Datafiniti_Fast_Food_Restaurants.csv"
restaurant_df = pd.read_csv(csv_file_one)
restaurant_df.head()

,id,dateAdded,dateUpdated,address,categories,city,country,keys,latitude,longitude,name,postalCode,province,sourceURLs,websites
0,AVwcmSyZIN2L1WUfmxyw,2015-10-19T23:47:58Z,2018-06-26T03:00:14Z,800 N Canal Blvd,American Restaurant and Fast Food Restaurant,Thibodaux,US,us/la/thibodaux/800ncanalblvd/1780593795,29.814697,-90.814742,SONIC Drive In,70301,LA,https://foursquare.com/v/sonic-drive-in/4b7361...,https://locations.sonicdrivein.com/la/thibodau...
1,AVwcmSyZIN2L1WUfmxyw,2015-10-19T23:47:58Z,2018-06-26T03:00:14Z,800 N Canal Blvd,Fast Food Restaurants,Thibodaux,US,us/la/thibodaux/800ncanalblvd/1780593795,29.814697,-90.814742,SONIC Drive In,70301,LA,https://foursquare.com/v/sonic-drive-in/4b7361...,https://locations.sonicdrivein.com/la/thibodau...
2,AVwcopQoByjofQCxgfVa,2016-03-29T05:06:36Z,2018-06-26T02:59:52Z,206 Wears Valley Rd,Fast Food Restaurant,Pigeon Forge,US,us/tn/pigeonforge/206wearsvalleyrd/-864103396,35.803788,-83.580553,Taco Bell,37863,TN,https://www.yellowpages.com/pigeon-forge-tn/mi...,"http://www.tacobell.com,https://locations.taco..."
3,AVweXN5RByjofQCxxilK,2017-01-03T07:46:11Z,2018-06-26T02:59:51Z,3652 Parkway,Fast Food,Pigeon Forge,US,us/tn/pigeonforge/3652parkway/93075755,35.782339,-83.551408,Arby's,37863,TN,http://www.yellowbook.com/profile/arbys_163389...,"http://www.arbys.com,https://locations.arbys.c..."
4,AWQ6MUvo3-Khe5l_j3SG,2018-06-26T02:59:43Z,2018-06-26T02:59:43Z,2118 Mt Zion Parkway,Fast Food Restaurant,Morrow,US,us/ga/morrow/2118mtzionparkway/1305117222,33.562738,-84.321143,Steak 'n Shake,30260,GA,https://foursquare.com/v/steak-n-shake/4bcf77a...,http://www.steaknshake.com/locations/23851-ste...

#### Check the dataframe before transformation

In [3]:
# There are 10,000 records in the dataframe
restaurant_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10000 non-null  object
 1   dateAdded    10000 non-null  object
 2   dateUpdated  10000 non-null  object
 3   address      10000 non-null  object
 4   categories   10000 non-null  object
 5   city         10000 non-null  object
 6   country      10000 non-null  object
 7   keys         10000 non-null  object
 8   latitude     10000 non-null  float64
 9   longitude    10000 non-null  float64
 10  name         10000 non-null  object
 11  postalCode   10000 non-null  object
 12  province     10000 non-null  object
 13  sourceURLs   10000 non-null  object
 14  websites     10000 non-null  object
dtypes: float64(2), object(13)
memory usage: 1.1+ MB

#### Drop duplicates in "keys" column so that restaurants will be unique

In [4]:
# There are only 9343 unique restaurants out of 10,000 rows in the dataframe.
restaurant_df["keys"].nunique()

9343

In [5]:
# Drop duplicates in restaurant
restaurant_df.drop_duplicates(subset ="keys", keep = 'first', inplace = True)

In [6]:
# The total count has been reduced from 10,000 to 9343. 
restaurant_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9343 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           9343 non-null   object
 1   dateAdded    9343 non-null   object
 2   dateUpdated  9343 non-null   object
 3   address      9343 non-null   object
 4   categories   9343 non-null   object
 5   city         9343 non-null   object
 6   country      9343 non-null   object
 7   keys         9343 non-null   object
 8   latitude     9343 non-null   float64
 9   longitude    9343 non-null   float64
 10  name         9343 non-null   object
 11  postalCode   9343 non-null   object
 12  province     9343 non-null   object
 13  sourceURLs   9343 non-null   object
 14  websites     9343 non-null   object
dtypes: float64(2), object(13)
memory usage: 1.1+ MB

####  Some zip_codes are in xxxxx-xxxx format. They need to be diced to match the standard format. Digits after '-' will be dropped.

In [7]:
# Cleanse ZIP Code to retain only 5 characters
restaurant_df["postalCode"] = restaurant_df["postalCode"].apply(lambda x: x.split("-")[0].strip())

In [8]:
# Verify ZIP Codes all cleansed to 5 characters only
restaurant_df['zip_check'] = restaurant_df['postalCode'].apply(len)
print(restaurant_df['zip_check'].max(), restaurant_df['zip_check'].min())

5 5

#### Data normalisation

If keeping zip_code, city and state in the same table, there will be transitive dependency. City and state depend on the restaurant address but also on zip_code. Hence to achieve the Third Normal Form, we'll put zip, city and state into a seperate table.

In [9]:
# Extract ZIP Code, City and State to a separate table
zip_code_df = restaurant_df[['postalCode','city','province']]
zip_code_df.head()

  postalCode          city province
0      70301     Thibodaux       LA
2      37863  Pigeon Forge       TN
3      37863  Pigeon Forge       TN
4      30260        Morrow       GA
5      48204       Detroit       MI

In [10]:
# Rename ZIP Code table column headings so they are more user friendly
zip_code_df = zip_code_df.rename(columns={"postalCode":"zip_code", "province":"state"})

In [11]:
# Check renamed columns
zip_code_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9343 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   zip_code  9343 non-null   object
 1   city      9343 non-null   object
 2   state     9343 non-null   object
dtypes: object(3)
memory usage: 292.0+ KB

Identify if there are any duplicate ZIP Codes

In [12]:
zip_code_df["zip_code"].nunique()

5426

In [13]:
# Drop duplicate ZIP Codes from the ZIP Code dataframe
zip_code_df.drop_duplicates(subset ='zip_code', keep = 'first', inplace=True)

In [14]:
zip_code_df.head()

  zip_code          city state
0    70301     Thibodaux    LA
2    37863  Pigeon Forge    TN
4    30260        Morrow    GA
5    48204       Detroit    MI
6    48235       Detroit    MI

In [15]:
# Export ZIP Code dataframe into CSV file 
zip_code_df.to_csv('zip_code.csv', index=False)

#### Save the restaurant dataframe into a new dataframe, so unnecessary columns will be dropped

In [16]:
# Save restaurant dataframe to a new dataframe

restaurant_clean_df = restaurant_df[["name","address","postalCode"]]
restaurant_clean_df.head()

             name               address postalCode
0  SONIC Drive In      800 N Canal Blvd      70301
2       Taco Bell   206 Wears Valley Rd      37863
3          Arby's          3652 Parkway      37863
4  Steak 'n Shake  2118 Mt Zion Parkway      30260
5         Wendy's  9768 Grand River Ave      48204

#### Rename the columns so that columns will be consistant throughout database

In [17]:
restaurant_clean_df = restaurant_clean_df.rename(columns={"name":"restaurant_name", "address":"address", "postalCode":"zip_code"})
restaurant_clean_df

     restaurant_name               address zip_code
0     SONIC Drive In      800 N Canal Blvd    70301
2          Taco Bell   206 Wears Valley Rd    37863
3             Arby's          3652 Parkway    37863
4     Steak 'n Shake  2118 Mt Zion Parkway    30260
5            Wendy's  9768 Grand River Ave    48204
...              ...                   ...      ...
9995       Pizza Hut     3460 Robinhood Rd    27106
9996       Pizza Hut  3069 Kernersville Rd    27107
9997       Pizza Hut         838 S Main St    27284
9998       Pizza Hut   1702 Glendale Dr SW    27893
9999       Pizza Hut       1405 W Broad St    28337

[9343 rows x 3 columns]

In [23]:
restaurant_clean_df["restaurant_name"].unique()

array(['SONIC Drive In', 'Taco Bell', "Arby's", "Steak 'n Shake",
       "Wendy's", 'Burger King', 'Chipotle Mexican Grill', '7-Eleven',
       'Dairy Queen', 'Mr. Hero', 'Golden Chick', "Carl's Jr", 'Checkers',
       "Rally's", "Togo's", 'Little Q Hot Pot', "McDonald's", 'Five Guys',
       'Boston Road Pizza', 'Boston Market',
       "D'Angelo Grilled Sandwiches", "Nino's Pizzarama",
       "Filippi's Pizza Grotto", 'Jack in the Box', 'Round Table Pizza',
       'El Pollo Loco', 'In-N-Out Burger', 'Copper Oven Artisan Pizza',
       'Del Taco', 'Little Caesars Pizza', 'Sbarro',
       "Casey's General Store", 'SUBWAY', "Fat Patty's", 'Pizza Hut',
       "Culver's", 'KFC', 'SONIC Drive-In', 'Whataburger', 'Chick-Fil-A',
       'Firehouse Subs', "Cupie's Drive-In", "Primo's Pizza",
       "Simple Simon's Pizza", 'CASA Mexicana', 'Bob Evans',
       'Players Grill', 'Back Yard Burgers', "Italo's Pizza",
       'Hunan Gardens', 'Toppers Pizza', 'Hernandez Mexican Restaurant',
       'Glorious Foods Gourmet to go & Catering', "Schlotzsky's",
       'Chicken Express', 'Big House Burgers', "Jerry's Subs & Pizza",
       "Fox's Pizza Den", 'Pizza Pub', 'Grande Italian Restaurant',
       "Arni's Crawfordsville", 'Arctic Circle', 'Pizza Barn',
       "Rico's Pizza & Subs", "B's Pizza", "Domino's Pizza", "Hardee's",
       'Port of Subs', 'Milk Street Cafe', 'Pei Wei', 'W.G. Grinders',
       "Foster's Freeze", 'Caseys Carry Out Pizza', 'Tastee Freez',
       'Taco Bueno', "Jimmy John's", 'Subway', "Papa John's Pizza",
       'Cook Out', 'SUBWAY¬Æ', 'Krispy Krunchy Chicken',
       "Hardee's/red Burrito", "Lacey's On The Hill Restaurant",
       'Pizza Pro', 'Cottage Inn Pizza', 'Runza', "Eudici's Pizza",
       'Taco Cabana', "Boomer's Drive-In", 'Hot Dog on a Stick',
       "Dunkin' Donuts", "Christo's Original", 'Carvel', 'Chicken Inn',
       'Shake Shack', 'Quiznos Sub', 'KFC - Kentucky Fried Chicken',
       'Chick-fil-A', 'El Burrito Loco', "Papa Gino's", 'Spangles',
       'Capri Restaurant', "Angelina's Pizza", "Chanello's Pizza",
       'Krystal', 'China Bowl Take Out Restaurant', 'Sonic Drive In',
       "Auntie Anne's Pretzels", 'Garden Catering', "A's Ace Burgers",
       "Baker's Drive Thru", 'Pizza Guys', 'Chicago Pizza With A Twist',
       'Surfside Burger Shack', 'Baskin-Robbins', "Church's Chicken",
       'Ameci Pizza & Pasta', 'Ak Buffet', "Barro's Pizza",
       "Long John Silver's", 'Boys Burgers', "Topper's Pizza",
       'Panda Express', 'Einstein Bros Bagels', 'Band Box Diner',
       'Quiznos', "Jersey Mike's Subs", "Tom's Drive In",
       'Boston Burger Company', 'Romas Pizza', 'Panera Bread',
       'Wienerschnitzel', 'Pony Express To Go', 'Popeyes', 'Sonic',
       "Gambino's Pizza", 'West Point Pizza', "McAlister's Deli",
       'Barberitos', 'Mrs. Fields', 'Taco Mayo', "Tacconelli's Pizza",
       "Guerrazzi's", "Gus's Carryout", "Moe's Southwest Grill",
       'Siam Fusion', 'Steak Escape', 'Mr. Chicken', 'B.GOOD',
       'Taco Casa', "Sam's Gyros",
       "Bojangles' Famous Chicken 'n Biscuits", 'Steak N Shake',
       'Waffle House', "Raising Cane's Chicken Fingers", 'Sumo Steaks',
       'Dragon Dragon', 'Crown Fried Chicken', "Tumby's Pizza",
       'Creperie', 'Qdoba Mexican Eats', "Fat Mo's Burgers",
       "Charley's Grilled Subs", "Miss Katie's Diner", 'Chronic Tacos',
       'Shawarma Kebab', "Wild Willy's", "Jake's Wayback Burgers",
       'Taco Mama', 'King of Wings', 'Pretzel Time', 'Sarku Japan',
       "Ivan's Restaurant", 'Fuddruckers', 'Mandarin Garden',
       'El Taquito', 'Four Burgers', 'Penn Station East Coast Subs',
       'The New Chalet', 'Blackjack Pizza', 'Gyromania Grill',
       'Mc Donalds', 'Yoshinoya', 'China Garden', "Mama's Fried Chicken",
       'China Restaurant', 'Burger Basket', 'Lobster Hut',
       "Ben and Jerry's", 'Taco Time', 'Mr. Hoagie', "Fazzari's",
       "Taco John's", 'Pizza Inn', "Cousin's Subs", 'Fosters Freeze',
       'Starbucks Coffee', "Carl's Jr.", "Taco Bob's", 'White Castle',
       'Pepperjax Grill', 'The Pizza Company', "Joe's Crab Shack",
       'The Sandwich Place', "Little Caesar's Pizza", 'Maid-rite',
       'Frates Drive-In', "Jim's Steaks", 'Gourmet Grill',
       'Villa Italian Kitchen', 'Jacks N Joe', 'Wingstop', 'Beef Villa',
       'Tanuki Sushi Bar and Garden', 'Old Carolina Barbecue Company',
       'Flame Broiler', 'Kow Thai Take Out', 'iSushi',
       'Shangri-la Chinese Restaurant', 'Blackies Hotdog Stand',
       'Chun Wah Kam Noodle Factory', 'Italian Pizzeria Restaurant',
       'Sakana', "Bubba's Texas Burger Shack", "Ani's Chicken",
       'Farmer Boys', 'Jamba Juice', 'Hot Lips Pizza', "Rubio's",
       "Chicken Mary's", 'Fuku', 'Little Caesars', 'Primo Hoagies',
       'De Afghanan Kabob House', "Raising Cane's", "Moe's Burger Joint",
       "Bobby's Burger Palace", 'Loving Hut', "Capriotti's Sandwich Shop",
       'Italian Village Pizza', 'Mustard Seed', 'Saladworks',
       "Jim's Steakout", 'Charo Chicken', 'Huddle House',
       'Great Wall Restaurant', "Luby's", 'Big Island Pizza',
       "My Daddy's Pizza & Grille", 'Boddie Noell Enterprises Inc',
       'Roma Pizza', 'Cafe Paris', 'Abruzzi Pizza', 'Bistro To Go',
       "Arthur Treacher's Fish & Chips", 'Blimpie',
       "Tony Wang's Chinese Restaurant", 'D & M Subs', 'Danielle Inc',
       "Smithfield's Chicken 'n Bar-b-q", 'Jack in the Box -',
       'Gangnam Style Korean Kitchen', 'Red Baron Drive-In', 'Which Wich',
       'Sonic Drive-In', 'Sonic Drive in', "Grandy's", 'Wolf River Diner',
       'The Extreme Pita', 'Picnic Basket', 'Popeyes Louisiana Kitchen',
       "Natraj's Tandoori", 'Acropolis Gyro Palace', "Bennidito's Pizza",
       "Dick's Hamburgers", 'Pick Up Stix', 'B Good', 'Peach Garden',
       'Pollo Tropical', "Dominick's Italian Restaurant",
       'St. Clair Broiler', 'Baja Fresh Mexican Grill', 'Fatburger',
       "Charlie's Pizzeria", 'Salad Creations', "Price's Chicken Coop",
       'Jollibee', "Lilly's Restaurant", 'Sakura Japanese Restaurant',
       'Low Chinese American Restaurant', "Johnny's Wife's Place",
       "Pita's Republic", 'Comet Burgers', 'Boardwalk Grill',
       'Henny Penny Family Restaurant', 'Dominion Pizza',
       'Cook St. Helena', 'Golden Dragon', 'Batter Up', "Quizno's",
       'ShopHouse Southeast Asian Kitchen', 'Mignano Bros',
       'Backyard Grill', 'Gold Star Chili', 'Cluck-U Chicken',
       'Local Burger', 'Jon Smith Subs', "Fox's Gourmet Delicatessen",
       'Great Wraps', "Lin's Garden", 'Pretzel Maker', 'Penguin Point',
       'Capri Italian Restaurant', 'King Wah', 'Regions Bank', 'KFC/AW',
       'McDonalds', 'Bojangles', 'Taco Bell / KFC', "Arby's - Closed",
       'Shell', "Carl's Jr. / Green Burrito", "Shamus's Sandwich Shoppe",
       'Long John Silvers', 'Fajita Grill', "George's Gyros Spot 2",
       'Lakewood Ranch Baptist Church', 'China Buffet', 'The Grille',
       'Good Guys Pizza', 'Charleys Philly Steaks', 'Islands Restaurant',
       "The Arch at McDonald's Campus Office Building", 'Buona Vita',
       "Rick's Drive In Out", "Johnson's Popcorn",
       'Popeyes Chicken Biscuits', 'Boloco', "Wolf's Dairy Queen",
       "Sweet Magnolia's Cafe Bakery", "Hardee's / Red Burrito",
       'Great American Hamburger Pie Co',
       'Golden Harvest Chinese Restaurant', 'The Flame Broiler',
       "Penn's Thai Cafe", "Rally's Hamburgers",
       "Long John Silver's / AW", 'Mcdonalds Whitehouse', "Captain D's",
       'Burger King/Popeyes', 'KFC/Taco Bell',
       "Carl's Jr / Green Burrito", 'Bob Evans Restaurant', 'El Original',
       'Old Country Buffet', 'Arbys', "Fazoli's", 'Los Cotijas Taco Shop',
       'Hardees', "Photo's Hot Dogs", 'Mr Hero', 'T-Mobile', 'Marathon',
       'Jimmy Johns', 'Errandbug Fast Restaurant Delivery', 'Legendz',
       "Lion's Choice", "Mcdonald's", 'Adobe Cantina Salsa',
       'Orange Julius', "Kasa's Pizza", 'The Dog Pit', 'Great Bend Taco',
       "Riviera D'Italia", "Charlie's Restaurant", 'Burrito Bros.',
       'Dunkin Donuts', 'Best Gyros', 'Steele Pier Hotdogs',
       "Wendy's Valenti Management", 'Skyline Chili', 'Tropicana Pizza',
       'VeganBurg', 'Smashburger', "Moe's Cafe", 'Vista Drive In',
       'China City', "Blake's Lotaburger", 'Belleria Pizzeria',
       "Pal's Sudden Service", 'Tiffin', "Baker's Drive-thru",
       'High Tech Burrito', 'Parkside Gyros', 'Dairy Heaven',
       'Cobani Gyro Kebab', "Zaxby's", 'Au Bon Pain', 'East of Edens',
       'Chipotle', 'Grand China Chinese Restaurant', 'Taco Del Mar',
       'Pizza Pipeline', "Richard's Pizza", 'The Corner Cafe',
       'Maki Fresh', 'Fat Boy Burgers', 'Flying J', 'Extreme Pita',
       'Git-It-N-Git', 'GD Bro Burger', 'Hometown Buffet', "Ryan's",
       'Smoothie King', "Famous Dave's", 'Sunrise Gyros',
       'Zankou Chicken', "Rascal's Teriyaki Grill", 'Ay Jalisco',
       'BURGERFI', 'Rallys', "Zaxby's Chicken Fingers & Buffalo Wings",
       'Gyros Express', 'Super Wings', 'Roche Bros.', 'TheMINT Gastropub',
       'California Tortilla', 'Thai Delight', 'Bristol 45 Diner',
       'Sheetz', 'Frankies', "Togi's Sub Station", 'Citizen Burger Bar',
       'Tropical Smoothie Cafe', "Papa Joe's Pizza", 'HiBoy Drive-in',
       'El Ranchito Taco Shop', "Bush's Chicken",
       'Hilton Boston Logan Airport', 'Festival Eatery',
       "Patrick's on Third", "Mason's Famous Lobster Rolls",
       'Burger House', 'Pollo Campero', 'All About Burger',
       "Nathan's Famous", 'The Swinging Door', 'Long John Silvers / A&W',
       "Wetzel's Pretzels", 'Clambake Seafood Restaurant', 'BeanThru',
       'Taco Bell/KFC', 'Cafe Zona Rosa', 'Papa Gyros', "Checker's Pizza",
       'Chinatown Inn', 'Kum & Go', 'PDQ', "Ray J's American Grill",
       'New York Pizza Department', 'Fashion Cafe', 'Qdoba Mexican Grill',
       "Tam's Burgers", "CD's Wings", "McDonald's of Rolesville",
       'A&W/Long John Silvers', "Captain D's Seafood", 'Wawa',
       'Popeyes Chicken & Biscuits', 'Westchester Burger Company',
       'Raising Canes', 'Mcdonalds', 'Panda Express Innovation Kitchen',
       'Chicken Kitchen', "Jim Bob's Chicken Fingers", 'Country Buffet',
       "Petro's Chili & Chips", 'QDOBA Mexican Eats',
       'California Chicken Cafe', 'Blue Coast Burrito', 'Lake Trout 2',
       'Happy Dragon', 'Flaming Grill and Buffet', "Oscar's Restaurant",
       "Mooney's Ice Cream Store", 'Cozumel', 'Cremo Drive-In',
       'Jalsa Indian Fast Food', 'La Hacienda Mexican Restaurant',
       'Flushing A', 'Halo Burger', 'Ocean Empire Restaurant', 'Kismet',
       "Miguel's Jr", "Mickey's Gyros & Ribs", 'Pilot Travel Center',
       'Fratellos Hot Dogs', 'Taco Bell/Pizza Hut', 'Burger King¬Æ',
       "Fast Eddie's MOAB", "Lupo's Char-Pit",
       "Original Tommy's Hamburgers", 'Wienerschitzel',
       "Jack's Goal Line Stand", 'b.good', "Bucky's Family Restaurant",
       'Little Italy', "Sam's Pizza Restaurant", "Hobo's Korner Kitchen",
       'Mangia Pizza', "Carl's Jr. / The Green Burrito", "Jason's Deli",
       "Andy's Frozen Custard", "Portillo's", 'Johnny Rockets',
       'Taqueria', 'Umami Burger', 'King Gyros',
       'Five Guys Burgers And Fries', 'KFC/Long John Silvers',
       "Zio's Italian Kitchen", "Auntie Anne's", 'Walmart Supercenter',
       "Jimmy's Grotto", "Eegee's", 'Earth Fare', 'B&D Burgers',
       "Nick's Gyros", '90 Miles Cuban Cafe', 'Tonys Pizza',
       'Sesame Burgers & Beer', "Braum's", 'Hon Lin Restaurant',
       "Popeye's Louisiana Kitchen", "McDonalds's",
       "Mah's Garden Restaurant", 'Dairy Queen (Treat Only)',
       'Five Guys Burgers Fries', 'Megs Drive In', 'The Hotdog Shoppe',
       'Kumagoro Fine Japanese Restaurant and Sushi Bar',
       'Wingstop Restaurant', "Whipper's Pizza", "Kim's Oriental Kitchen",
       'Chinatown Express', 'Old Mill Crab House', 'Mr Taco',
       "The 50's Cafe", "Papa J's", 'Jack In The Box',
       'Wise Guys A Chicago Eatery', "Sonic America's Drive-In",
       "Heff's Burgers", 'El Pollo Regio', 'El Sombrero', 'Genghis Grill',
       "Palio's Pizza Cafe", "Ly's Cafe", 'Poki Roll', 'Sub Conscious',
       "Bad Daddy's Burger Bar", "Kosta's Gyros", "Bell's Pizza",
       'The Hat', "Don & Millie's", 'PepperJax Grill', "Ben & Jerry's",
       'Mr. Gyros Greek Food & Pastry', 'Legends Burgers',
       "Plato's Closet", "Stoko's"], dtype=object)

In [ ]:
# Export restaurant data to CSV
restaurant_clean_df.to_csv('restaurant_clean.csv', index=False)

In [ ]:
# extract restaurant name into another table --> restaurant_franchise ID