In [1]:
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func, distinct

# Import password authentication for the postgresql database
from config import password

### Connect to local database

In [2]:
# Create Engine and connection
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/fast_food_census_db")

In [3]:
engine.table_names()

['zip_code', 'zcta', 'social_economics', 'restaurant', 'restaurant_address']

### Use pandas to load csv-converted dataframe into database

In [8]:
census_df = pd.read_csv("../02_transform_census/clean_census.csv", dtype={'ZCTA': 'str'})
census_df.head()

,ZCTA,population,median_age,median_household_income,per_capita_income,poverty_count,unemployment_count
0,601,17242,40.5,13092.0,6999.0,10772,2316
1,602,38442,42.3,16358.0,9277.0,19611,1927
2,603,48814,41.1,16603.0,11307.0,24337,3124
3,606,6437,43.3,12832.0,5943.0,4163,230
4,610,27073,42.1,19309.0,10220.0,11724,1290

In [7]:
census_df.to_sql(name='social_economics', con=engine, if_exists="append", index=False)

In [ ]:
restaurant_df = pd.read_csv("../02_transform_restaurant/restaurant_id.csv", dtype=)

In [ ]:
pd.read_csv("../02_transform_restaurant")

In [ ]:
pd.read_csv("../02_transform_zip_zcta")

### Reflect Tables into SQLAlchemy ORM

In [ ]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [ ]:
engine.table_names()

### Import the csv files

### Load DataFrames into database