In [1]:
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func, distinct

# Import password authentication for the postgresql database
from config import password

### Connect to local database

In [2]:
# Create Engine and connection
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/fast_food_census_db")

In [3]:
engine.table_names()

['zip_code',
 'restaurant',
 'social_economics',
 'zip_zcta',
 'restaurant_address']

### Use pandas to load csv-converted dataframe into database

In [ ]:
census_df = pd.read_csv("../02_transform_census/clean_census.csv", dtype={'ZCTA': 'str'})
census_df.head()

In [ ]:
census_df.to_sql(name='social_economics', con=engine, if_exists="append", index=False)

In [ ]:
restaurant_df = pd.read_csv("../02_transform_restaurant/restaurant_id.csv")
restaurant_df.head()

In [ ]:
restaurant_df.to_sql(name='restaurant', con=engine, if_exists="append", index=False)

In [ ]:
zip_zcta_df = pd.read_csv("../02_transform_zip_zcta/zcta.csv", dtype='str')

In [4]:
restaurant_address_df = pd.read_csv("../02_transform_restaurant/restaurant_address.csv", dtype={'zip_code': 'str'})
restaurant_address_df.head()

   restaurant_id street_no   street_name zip_code
0              1       800  N Canal Blvd    70301
1              1       124     John R Rd    48083
2              1       909        N Wood    75644
3              1        97  Gateway Blvd    82901
4              1      6557  S Staples St    78413

In [5]:
restaurant_address_df.to_sql(name='restaurant_address', con=engine, if_exists="append", index=False)

In [ ]:
zip_zcta_df =

In [ ]:
zcta_df.to_sql(name="zcta", con=engine, if_exists="append", index=False)

In [ ]:
zip_code_df = pd.read_csv("../02_transform_restaurant/zip_code.csv", dtype='str')
zip_code_df.head()

In [ ]:
zip_code_df.to_sql(name='zip_code', con=engine, if_exists="append", index=False)

In [ ]:
zcta_df = pd.read_csv("../02_transform_zip_zcta/zcta.csv", dtype='str')
zcta_df.head()

In [ ]:
pd.read_csv("../02_transform_zip_zcta")

### Reflect Tables into SQLAlchemy ORM

In [ ]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [ ]:
engine.table_names()

### Import the csv files

### Load DataFrames into database